<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cis.attendance.repository.IF_AttendanceRepository">
    <insert id="attendanceInsert" parameterType="com.cis.attendance.dto.AttendanceDTO">
        INSERT INTO attendance VALUES ('test1', DATE_FORMAT(NOW(), '%H:%i'), NULL, DATE_FORMAT(NOW(), '%Y-%m-%d'), NULL, NULL, #{late_check})
    </insert>
</mapper>
